"*":
  "bottom-dock":
    startOpen: true
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "about"
      "atom-jump-block"
      "auto-fold"
      "background-tips"
      "code-peek"
      "codesidestory-atom"
      "expand-region"
      "full-path-in-title-bar"
      "jumpy"
      "language-todo"
      "line-jumper"
      "line-navigation"
      "metrics"
      "package-generator"
      "smart-backspace"
      "sourcerer"
      "sublime-word-navigation"
      "timecop"
      "token-navigation"
      "welcome"
      "wrap-guide"
      "casefile"
      "code-annotations"
      "symbols-view"
      "github"
      "folded-code-preview"
      "atom-cursor-indent"
    ]
    packagesWithKeymapsDisabled: [
      "github"
      "recent-files-fuzzy-finder"
    ]
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    softWrap: true
    tabLength: 4
  "env-from-shell":
    autoRun: true
  "exception-reporting":
    userId: "c093718b-31f0-485b-aa2a-08513e1eb005"
  "git-diff":
    showIconsInEditorGutter: true
  minimap:
    displayMinimapOnLeft: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "process-palette":
    palettePanel:
      showCommand: false
      showOutputTarget: false
  "run-command": {}
  "symbols-tree-nav":
    autoToggle: true
  "todo-show":
    findTheseTodos: [
      "TODO"
      "FIXME"
      "CHANGED"
      "XXX"
      "IDEA"
      "HACK"
      "NOTE"
      "REVIEW"
      "NB"
      "BUG"
      "QUESTION"
      "COMBAK"
      "TEMP"
      "SAM"
    ]
    showInTable: [
      "Line"
      "Text"
      "Type"
      "Path"
    ]
    sortBy: "Line"
".text.todo_extra":
  editor:
    showIndentGuide: false
    showInvisibles: false
